:root {
    --bg-image: url('/bg-img-space-2400.jpg'); /* Correct path */
}

/* Dark mode */
html.dark-mode .background {
    background-image: url('/bg-img-space-2400.jpg'); /* Correct path */
}

/* Light mode */
html.light-mode .background {
    background-image: url('/bg-img-sky.jpg'); /* Correct path */
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--bg-image); /* Use variable */
    background-size: cover;
    background-position: right;
    z-index: -1;
}
