.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/public/bg-img-space-2400.jpg');
    background-size: cover;
    background-position: right;
    z-index: -1;
}
